body{
	background-color:rgb(135,206,235);
	margin:0;
	
}
.first-child{
	background-color:black;
	color:white;
}
.last-child{
	color:red;
}
#i1,#i5{
	font-size:22px;
	background-color:white;
}
#i3{
	background-color:pink;
}
#i2,#i4{
	
	background-color:gray;
}
li {
	width:50%;
	padding:10px;
}

/*  your css code here. If applicable */
